.container {
  min-height: 100vh;
  padding: 5rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.noteContainer {
  text-align: center;
  margin-top: 10px;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.formContainer {
  width: 400px;
  margin: 30px auto;
}
